@import "./../../Base.scss";

.Task {
  background-color: $background-color;
  padding: 10px 20px;
  border-radius: $border-radius;
  text-align: left;
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;


  input[type="checkbox"] {
  }

  button {
    width: 26px;
    height: 26px;
    border: 0;
    border-radius: 5px;
    background-color: $accent-color;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

    span {
      opacity: 0;
      transition: 0.3s;
    }

    &:hover {
      background-color: $alert-color;

      span {
        opacity: 1;
      }
    }
  }
}
