@import "./../../Base.scss";

.Input {
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border-radius: $border-radius;
  }
}