.Header {
  width: 100vw;
  height: 60px;
  margin: 0 0 10px 0;
  background-color: red;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  // swap font-size into App.scss globally
  font-size: 30px;
}