@import "./../../Base.scss";

.TaskExtended {
  background-color: $background-color;
  .generalInfo {
    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .description {

  }
}