$font-stack:         'Barlow', sans-serif;
$font-color:        #EEEEEE;
$font-accent-color: #FFD369;

$background-color:  #222831;
$foreground-color:  #393E46;
$accent-color:      #FFD369;
$warning-color:     #FFD369;
$alert-color:       #FF4848;
$border-radius:       10px;